*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
header{
  width:100%;
  height: 600px;
  background-color: #0C325A;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  position: relative;
  background-size: 70%;
  background-position: bottom right;
}
.contenitore{
  width: 80%;
  height: 600px;
  margin: auto;
  padding-top: 15px;
}
#logo{
  height: 45px;
  width: 10%;
  vertical-align: middle;
}
.bar, ul, li{
  display: inline-block;
  vertical-align: middle;
}
nav.bar.centro{
width: 46%;
/* background-color: lightgreen; */
margin: 0 4% ;
}
ul, li, a{
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight:400;
  font-size: 13px;
  padding-right: 10px;
  text-transform: uppercase;
}
nav.bar.lato{
  width: 35%;
  /* background-color: pink; */
}
.login, .piano{
  border-radius: 7px;
  padding: 8px 17px;
}
a.login{
  border: 2px groove white;
}
a.piano{
  background-color: #7CBB02;
  border: 2px white;
  }
.titolo{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  }
h1{
  width:60%;
  color: white;
  font-size: 55px;
  margin-bottom: 40px;
  font-weight:500;
}
a.piano.due{
  padding:20px;
}
.scuole-fluency{
  width: 100%;
  height: 170px;
  background-color: #D3D3D3;
}
.titolo-fluency,
.p-fluency{
  text-align: center;
  margin: auto;
  line-height: 1.5;
}
h2.titolo-fluency{
  font-size: 28px;
  padding-top: 45px;
  font-weight:600;
}
p.p-fluency{
  font-size: 21px;
  color: gray;
  padding-top: 5px;
  font-weight: 500;
  word-spacing: 2.5px;
}
.colonne-tris::after,
.colonne-bis::after{
 content: "";
 display: block;
 clear: both;
}
.colonne-tris{
  max-width: 80%;
  height: 400px;
  margin: auto;
  margin-bottom: 70px;
}
.laterale,
.centrale{
   width:33%;
   float: left;
   padding: 0 25px;
}
img.profile,
img.pc,
img.doc{

  width: 100%;
  height: 150px;
  object-fit: contain;
  display: block;
  margin-top: 30px;
}
h3{
color: #7CBB02;
width: 100%;
text-align: center;
font-size: 24px;
display: inline-block;
padding: 22px;
font-weight: 500;
}
.interruzione{
  border-bottom: 0.5px solid black;
  width: 18%;
  height: 0;
  margin: auto;
}
p.lorem{
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  color: gray;
}
